# YOVUS
models/
temp/
output/
cache/
external/
*.onnx
*.pth
*.safetensors
*.ckpt

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg

# Env
.env
.venv/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
